<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufl.gradeup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.ufl.gradeup"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ufl.gradeup" />

    <service android:name="com.parse.PushService" />

    <receiver
        android:name="com.parse.ParsePushBroadcastReceiver"
        android:exported="false" >
        <intent-filter>
            <action android:name="com.parse.push.intent.RECEIVE" />
            <action android:name="com.parse.push.intent.DELETE" />
            <action android:name="com.parse.push.intent.OPEN" />
        </intent-filter>
    </receiver>
    <receiver
        android:name="com.parse.GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
            <category android:name="com.ufl.gradeup" />
        </intent-filter>
    </receiver>

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gradeup_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:label="@string/title_activity_update_profile" >
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".AddScheduleActivity"
            android:label="@string/title_activity_add_schedule" >
        </activity>
        <activity
            android:name=".GroupHomeActivity"
            android:label="@string/title_activity_group_home" >
        </activity>
        <activity
            android:name=".SearchForGroupActivity"
            android:label="@string/title_activity_search_group" >
        </activity>
        <activity
            android:name=".ViewScheduleActivity"
            android:label="@string/title_activity_view_schedule" >
        </activity>
        <activity
            android:name=".ApproveRequestActivity"
            android:label="@string/title_activity_approve_request" >
        </activity>
        <activity
            android:name=".UpdateUserScheduleActivity"
            android:label="@string/title_activity_update_user_schedule" >
        </activity>
        <activity
            android:name=".CreateGroupMeetingActivity"
            android:label="@string/title_activity_create_group_meeting" >
        </activity>
        <activity
            android:name=".ForgotPassActivity"
            android:label="@string/title_forgot_pass_activity" >
        </activity>
        <activity
            android:name=".PublicDiscussionActivity"
            android:label="Discussion Forum"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".NewDiscussionActivity"
            android:label="New Discussion Post" >
        </activity>
        <activity
            android:name=".ActivityViewGroupSchedule"
            android:label="@string/title_activity_activity_view_group_schedule" >
        </activity>
        <activity
            android:name=".UpdateGroupScheduleActivity"
            android:label="@string/title_activity_update_group_schedule" >
        </activity>
        <activity android:name=".HelpActivity" >
        </activity>
        <activity android:name=".AboutUsActivity" >
        </activity>
    </application>

</manifest>
